.wrapper{
    background-color: rgb(206, 97, 58);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;   
}

.container{
    margin:auto;
}

/* title container */
.title-container{
    background-image: url("https://raw.githubusercontent.com/hamza-mirza/react-weather-app/master/src/img/bg.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 50em;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 0;
}

.weather-title{
    font-size: 66px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.weather-sub-title{
    font-style: italic;
    font-size: 32px;
}

/* Form container  */
.form-weather-container{
    background: #273648;
}

.form-container{
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 4%;
}

.form-container input{
    background: none;
    border: none;
    border-bottom: 2px solid rgb(206, 97, 58);
    margin-right: 5%;
    font-size: 1.2em;
    color: white;
    outline: none;
}

input:focus,input:active{
    outline: none;
    background: none;
}

.form-container button{
    background-color: rgb(206, 97, 58);
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 8px;
}

/* Weather information */
.weather-container{
    margin-left: 4%;
    margin-top: 10%;
}

.weather-container-title{
    color: rgb(206, 97, 58);
    font-size: 2em;
    font-family: fantasy;
}

.weather-container-info{
    color: white;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
}